body{
    margin: 0px;
    padding: 0px;
    background-color: hsl(240, 78%, 98%);
    background-image: url('../images/bg-bottom.svg'),url('../images/bg-top.svg');
    background-position: bottom left,top right;
    background-repeat: no-repeat,no-repeat;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style:normal;
}

a{
    text-decoration: none;
}
a:hover{
    color:white
}

.Heading{
    display:flex;
    justify-content:center;
    font-size: xx-large;
}

.toggle-button{
    display: flex;
    justify-content: center;
}
ul{
    padding:10px;
    margin:10px;
    text-decoration:none;
    list-style-type: none;
    line-height: 3.8em;
}
li{
    line-height: 0.1 em;
}
.boxes{
    display:flex;
    margin-top:50px;
    justify-content: center;
}

.box1,.box2,.box3{
    display:flex;
    width:400px;
    height:525px;
    background-color: white;
    border-radius:10px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.learnMore{
    display: flex;
    border:hsl(232, 13%, 33%) solid 1px;
    border-radius: 10px;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 20px;
}

.price{
    font-size:45px;
    border-bottom: none;
}

.price::first-letter {
    font-size: 40px;
  }

.box1:hover,.box2:hover,.box3:hover{
    display:flex;
    width:400px;
    height:565px;
    margin-top: -20px;
    margin-bottom: 20px;
    background-color: hsl(236, 72%, 79%);
    border-radius: 10px;
    justify-content: center;
    color:white;
}

